<!DOCTYPE html>
<html>
	<head>
		<title>App</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i">

		<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="container-fluid p-0">
			<%= yield %>
		</div>
	</body>
</html>
